# Frontend
node_modules/
frontend/dist/

# Python
venv/
.venv/
__pycache__/
*.pyc

# Environment / secrets
.env
*.log

# Large/raw datasets
data/raw/
*.zip
*.rar
*.7z

# Large ML/deep-learning files
*.h5
*.keras
*.onnx

# Python cache
.pytest_cache/
.mypy_cache/

# IDE
.vscode/